language: julia

os:
  - linux
  - osx

julia:
  - 0.7
  - 1.0
  - nightly

notifications:
  email: false

git:
  depth: 99999999

matrix:
 allow_failures:
 - julia: nightly

after_success:
  - julia -e 'using Pkg; cd( Pkg.dir( "Touchstone" ) ); Pkg.add( "Coverage" ); using Coverage; Coveralls.submit( Coveralls.process_folder() )'
  - julia -e 'using Pkg; cd( Pkg.dir( "Touchstone" ) ); Pkg.add( "Coverage" ); using Coverage; Codecov.submit( Codecov.process_folder() )'
  - julia -e 'using Pkg; cd( Pkg.dir( "Touchstone" ) ); Pkg.add( "Documenter" ); include( joinpath( "docs", "make.jl" ) )'
